html, body {
    height: 100%;
}
body {
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
    margin: 0;
    padding: 0;
    color: #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
header, nav, section, article, footer {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}
  
core-header-panel {
  height: 100%;
  .core-header {
    text-align:center;
    height:120px;
  }
  .content {
      padding:0;
  }
}

.content {
  margin:0 20px;
  padding: 0 20px;
}

paper-toast {
  background-color:#9ACD32;
}

// Defining values
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);


@media (max-width: $screen-sm-max) { 
  
  h1 {
    font-size: 26px !important;
    margin: 20px 0 !important;
  }

}
