:host {
  display: block;
}
paper-progress {
	width:100%;
}
paper-progress::shadow #activeProgress {
  background-color: green;
  &.warning {
      background-color: orange;
  }
  &.danger {
      background-color: red;
  }
}

paper-progress::shadow #secondaryProgress {
  background-color: cotton-blue;
}

.ui-display {
  padding:20px;
  font-size:1.5rem;
  display:inline-block;
  background:#eee;
  border-radius:10px;
  margin:10px 0;
}